<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget_password</title>
</head>
<body>
    <center>
        <h1>Forget_password</h1>
    <form action="change_password" method="get">
        {% csrf_token %}
        <input type="password" placeholder="Password" name="change_password">
        <input type="password" placeholder="confirm password" name="confirm_password">
        <input type="hidden" value="{{ data_set }}" name="email">

        <input type="submit" value="change_password">
    </form>
</center>
</body>
</html>