{% extends 'home.html'%}
{% block otp%}

<form method="GET" action="cverify ">
    {% csrf_token %}
    <input type="text" name="otp" placeholder="Enter your otp here..">
    <input type="hidden" name="first_name" value={{ data_set.first_name }}>
    <input type="hidden" name="second_name" value={{ data_set.second_name }}>
    <input type="hidden" name="email" value={{ data_set.email }}>
    <input type="hidden" name="phone" value={{ data_set.phone }}>

    <input type="hidden" name="location" value={{ data_set.location }}>
    <input type="hidden" name="address" value={{ data_set.address }}>
    <input type="hidden" name="password" value={{ data_set.password }}>

    <input type="submit" value="Verify Email">
</form>
{% endblock %}
