{% extends 'home.html'%}
{% block signup%}
    <h1>Farmer Sign_Up </h1>
    <form action="fverify" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="first_name">
        <input type="text" name="second_name" placeholder="second_name">
        <br><br>
        <input type="email" name="email" placeholder="email">
        <br><br>
        <input type="text" name="phone" placeholder="phone" pattern="[0-9]{10,10}" title="please enter 10-digit valid phone number">
        <br><br>
        <input type="password" name="password" placeholder="Password">
        <br><br>
        <input type="password" name="cpassword" placeholder="Confirm Password">
        <br><br>
        choose your Current locatrion of the market
        <select type="text" name="location">
            <option value="pallavaram-chennai">Uzhavar Sandhai-pallavaram</option>
            <option value="chrompet-chennai">Uzhavar Sandhai-chrompet</option>
            <option value="ambattur-chennai">Uzhavar Sandhai-ambattur</option>
            <option value="guduvancherry-chennai">Uzhavar Sandhai-guduvancherry</option>
        </select>
        <br><br>
        <input type="text" name="shop_no" placeholder="shop no">
        <br><br>

        <input type="submit" value="Verify Email">
    </form>
{% endblock %}