{% extends 'home.html'%}
{% block login%}


    <h1>Login</h1>
    <form action="login" method="post"> 
        {% csrf_token %}

        <input type="text" name="username" placeholder="Email or Phone">
        <br><br>
        <input type="password" name="password" placeholder="Password">
        <br><br>
        <a href=verify>Forget Password</a>
        
        <br><br>
        <input type="submit">
        <br><br>
        <a href=signuppath>sign up..?</a>

    </form>

{% endblock %}